<!--<%= link_to "Create Board", new_board_path%>-->
<%= form_for @board, :html=> { class: 'col-xs-7'} do |f|  %>
  <%= f.text_field :board_name %>  
  <%= f.submit "CREATE BOARD" ,:class => 'btn-primary' %>
 <% end %>
<% unless @board.errors.empty? %>       
       <ul>
          <% @board.errors.each do |msg,ab| %>
            <li ><%= msg %>:<%= ab%></li>
          <%  end %>
       </ul>
<% end %>

<table class="col-xs-4 table-bordered">
	<tr>
		<td  class="text-center"><strong>BOARD ID</strong></td>
		<td  class="text-center"><strong>JOIN PLAYER</strong></td>
	</tr>
	
	<% @boards.each do |p|%>
	<tr>
		<td  class="text-center"><%=p.id%></td>
		<td  class="text-center"><u><%= link_to p.board_name, p %></u></td>
		
	</tr>	
	<%end%>
</table>
