 
<script>

//here assign the piece_postion value of current move

var currentPosition = <%= @boards.piece_position.html_safe %>;
var playerPiece= '<%= @boards.current_player %>';
var gameHistory = [];

</script>
		  
			  
<%= form_for @boards  do |f| %>
  <%= f.text_area :piece_position%>
   <%= f.text_area :current_player%>
  <%= f.submit "Submit" %>
 <% end %>

<script data-turbolinks-track="true" src="/chess.js"></script>
<table id="board" class=" col-xs-7 "></table>	

<div class="col-xs-3" style= " border: 2px solid  #4B0082" >
<h4><strong><u>BOARD INFORMATION</u></strong></h4>
<strong>BOARD NAME:</strong>  <%= @boards.board_name %><br>
<strong>YOUR COLOR:</strong> <% if @boards.current_player == cookies[@boards.id] %> 
							<span style="color : red"> <%= cookies[@boards.id] %> </span><br>
							 <%else%>
							<span style="color : green"> <%= cookies[@boards.id] %> </span> <br>
							 <%end%>
					
<strong>PLAYER TO MOVE:</strong> <% if @boards.current_player == "b" %>
				<span style="color : #800000"> White </span><br>
				<% else %>
				<span style ="color : #800000"> Black </span>
			  <%end %>
</div>	
  
